html {
  background-color: #cabfb6;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 10px auto;
  width: 600px;
  padding: 50px 100px;
  background: white;
}

h2 {
  font-family: "Proza Libre", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

#explore:hover {
  border: black solid 1px;
}

#explore {
  margin: auto;
  margin-bottom: 30px;
  border: 0px;
  border-radius: 5px;
  padding: 10px 30px;
  display: block;
  font-size: 15px;
  background-color: #c9793b;
}

#android {
  background: #a4c93b;
}

#apple {
  background: #b6bcca;
}

.phone-button {
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 30px;
  border-color: lightgray;
}
